et-xmlfile==1.1.0
fonttools==4.25.0
memory-profiler==0.61.0
mkl-service==2.4.0
munkres==1.1.4
openpyxl==3.0.10
pandas==1.2.3
ply==3.11
psutil==6.0.0
ptflops==0.7.3
PyQt5==5.15.10
scipy==1.10.1
seaborn==0.13.2
SimpleITK==2.0.2
tifffile==2020.10.1
torch==2.2.2
torchaudio==2.2.2
torchsummary==1.5.1
torchvision==0.17.2
xlrd==2.0.1
